<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css"/>
    <title>todo</title>
</head>

<body>
    <div id="app">
        <h1>TODO LIST</h1>
        <article class="wrap">
            <!--TODO Input field-->
            <section class="todo-form">
                <input type="text" name="todo-text" class="input-text"
                 placeholder="New task" :value="text" @input="inputText" />
                <button class="add-button" @click="addTodo">ADD</button>
            </section>

            <section class="list-area">
                <!--DOING-->
                <div class="area-incomplete">
                    <p class="todo-title">TODO</p>
                    <ul class="todo-area">
                        <li v-for="(item, i) in incompleteTodo" :keys = "i" class="list">
                            <span class="list-label">{{item.text}}</span>
                            <span class="button-area">
                                <button class="list-button button-done" @click="toggleIsDone(item.id)">DONE</button>
                                <button class="list-button button-delete" @click="deleteTodo(item.id)">DELETE</button>
                            </span>
                        </li>
                    </ul>
                </div>
                <!--DONE-->
                <div class="area-complete">
                    <p class="todo-title">DONE</p>
                    <ul class="todo-area">
                        <li v-for="(item, i) in doneTodo" :key="i" class="list">
                            <span class="list-label">{{item.text}}</span>
                            <span class="button-area">
                                <button class="list-button button-return" @click="toggleIsDone(item.id)">RETURN</button>
                                <button class="list-button button-delete" @click="deleteTodo(item.id)">DELETE</button>
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
        </article>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./script.js"></script>
</body>
</html>