* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    height: 100vh;
    background: #fcfcfa;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrap {
    width: 960px;
    height: auto;
    padding: 0 0 50px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 20px;
    color: #333;
}

/*Input field*/
.todo-form {
    text-align: center;
    padding: 50px 0 50px 0 ;
    
}

.todo-form > .add-button {
    margin-left: 20px;
    display:block;
    text-align: center;
}

.input-text {
    width: 300px;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 5px;
    -webkit-appearance: none;
    border: none;
    box-shadow: 0px 0px 12px #ccc;
}

.add-button {
    font-size: 20px;
    padding: 12px 20px;
    border: none;
    -webkit-appearance: none;
    background: #ffcbe9ee;
    color: #333;
    border-radius: 4px;
}

/*TODO List Area*/
.list-area {
    display: flex;
    justify-content: space-between;
}

.list-area .area-complete,
.list-area .area-incomplete {
    width: 480px;
    margin:5px;
}

.list {
    align-items: center;
    background: #fefefe;
    box-shadow: 0px 2px 12px #cecece;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 20px 10px 32px;
    width: 100%;
}

.list:not(:first-child){
    margin-top: 16px;
}

.list-label {
    font-size: 25px;
}

.list-button {
    -webkit-appearance: none;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    color: #222;
    background: #eee;
}

.list-button.button-done {
    background: #4CAF50;
}

.list-button.button-delete {
    background: #f44336;
}

.list-button.button-return {
    background: #f6e563;
}

.todo-title {
    color: #333;
    font-size: 26px;
    text-align: center;
}

.todo-area {
    margin-top: 36px;
}

/* responsive */
/* 480px, smart phone */
@media screen and (max-width: 480px) {
    body {
        height:max-content;
    }

    .wrap {
        width: 400px;
    }

    .todo-form {
        display: flex;
        flex-direction: column;
        margin: 10px ;
    }
    .todo-form > .add-button {
        margin-left: 0;
        max-width: fit-content;
    }

    .add-button {
        width: 200px;
        height:40px;
        margin: 10px;
        padding: 0;
    }

    .list-area {
        flex-direction: column;
        width: 350px;
    }

    .list {
        display: flex;
        flex-direction: column;
        width: 350px;
        padding: 0 0 10px 0;
        margin-left: 15px;
    }

   .todo-title {
        text-align: center;
        margin-top: 20px;
        width: 400px;
    }

    .list-label {
        margin: 10px;
    }

   
}